// Colour variables
$blue: #03b6fc;
$darker-blue: #04a4e4;

.select-component {
  max-width: 50%;
  margin: auto;
}

.select-btn {
  margin: 2rem 0;
  padding: 1.5rem;
  width: 350px;

  span {
    display: block;
  }
}

// button with no selected options
.default {
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

// button with selected options
.selected {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  background: $blue;
  border: 1px solid $darker-blue;
}

.default-text {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}


.popup {
  position: relative;
  list-style-type: none;
  margin: -1.3rem 0;
  padding: 0;
  display: block;
  max-width: 350px;
  border: 1px solid #ccc;


  li {
    margin: auto;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;

  }

  li:last-child {
    border-bottom: none;
  }

  li:hover,
  li.selected {
    color: white;
    background: $blue;
    border: 1px solid $darker-blue;
  }
}

.hide {
  display: none;
}